@import "./styles";

.delivery_stages{
    width: 90vw;
    margin: 0 auto;
    @include flex(center, baseline, column);
    gap: 40px;
    margin-top: 100px;

    h1{
        font-family: $font-family;
        font-weight: 600;
        font-size: 48px;
        color: #363738;
    }

    .delivery_stages_type {
        width: 100%;
        @include flex(space-around, center);
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.12);
        padding: 32px;
        gap: 32px;

        img{
            max-width: 330px;
        }

        ul{
            @include flex(space-around, baseline, column);
            width: 60%;
            gap: 15px;;

            li{
                h3{
                    font-family: $font-family;
                    font-weight: 600;
                    font-size: 20px;
                    color: #363738;
                }
                p{
                    font-family: $second-family;
                    font-weight: 400;
                    font-size: 16px;
                    color: #6b6b6c;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .delivery_stages_type {
        flex-direction: column !important;

        ul{
            width: 100% !important;
            align-items: center !important;

            li{
                text-align: center;

            }
        }

        img{
            width: 100%;
        }
    }
}